.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__toggle {
  cursor: pointer;
  font-size: 1.25rem;
}

.button {
  padding: 0.6rem 1rem;
  border-radius: 0.25rem;
}

@media screen and (max-width: 1024px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background-color: #fff;
    padding: 7rem 0 2rem 3rem;
    z-index: var(--z-fixed);
    transition: right 0.4s;
    box-shadow: -4px 0 16px rgba(39, 69, 190, 0.06);
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--title-color);
}

.nav__close {
  cursor: pointer;
  position: absolute;
  top: 1.25rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
}

.show-menu {
  right: 0;
}
